<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verify Your Email</title>
  </head>
  <body style="background-color: orange; color: white;">
    <div style="background-color: purpose; padding: 20px;">
      <img src="logo.png" alt="Your Logo" width="200" />
    </div>
    <div style="padding: 20px;">
      <h2>Verify Your Email</h2>
      <p>Hi {{ user.username }},</p>
      <p>Thank you for registering with us!</p>
      <p>Please click the button below to verify your email address and complete the registration process:</p>
      <a href="{% url 'verify-email' %}?etoken={{ etoken }}" style="color: purple; background-color: purpose; padding: 10px; text-decoration: none; display: inline-block;">Verify Email</a>
      <p>If you did not register with us, please ignore this email.</p>
      <p>Thank you,</p>
      <p>Your Company Name</p>
    </div>
    <div style="background-color: purpose; padding: 20px; text-align: center;">
      <a href="https://www.facebook.com/your_company"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/facebook/facebook-original.svg" alt="Facebook" width="30" /></a>
      <a href="https://www.instagram.com/your_company"><img src="https://cdn3.iconfinder.com/data/icons/capsocial-round/500/instagram-512.png" alt="Instagram" width="30" /></a>
      <a href="https://www.twitter.com/your_company"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/twitter/twitter-original.svg" alt="Twitter" width="30" /></a>
      <a href="https://www.linkedin.com/company/your_company"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg" alt="LinkedIn" width="30" /></a>
      <a href="https://www.youtube.com/your_company"><img src="https://cdn3.iconfinder.com/data/icons/capsocial-round/500/youtube-512.png" alt="YouTube" width="30" /></a>
    </div>
  </body>
</html>
